{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="m-3">
    <h1>Register</h1>
    
    {{ form_start(registrationForm) }}
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
