{% extends 'base.html.twig' %}

{% block title %}Degree index{% endblock %}

{% block body %}
    <h1>Degree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Acronym</th>
                <th>Degree level</th>
                <th>Candidate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for degree in degrees %}
            <tr>
                <td>{{ degree.id }}</td>
                <td>{{ degree.name }}</td>
                <td>{{ degree.acronym }}</td>
                <td>{{ degree.degreeLevel }}</td>
                <td>{{ degree.candidate }}</td>
                <td>
                    <a href="{{ path('degree_show', {'id': degree.id}) }}">show</a>
                    <a href="{{ path('degree_edit', {'id': degree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('degree_new') }}" class="btn btn-dark m-3">Create new</a>
{% endblock %}
