{% extends 'base.html.twig' %}

{% block title %}New Degree{% endblock %}

{% block body %}
    <h1>Create new Degree</h1>

    {{ include('degree/_form.html.twig') }}
    <a href="{{ path('degree_index') }}" class="btn btn-dark m-3">back to list</a>
{% endblock %}
