{% extends 'base.html.twig' %}

{% block title %}Degree{% endblock %}

{% block body %}
    <h1>Degree</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ degree.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ degree.name }}</td>
            </tr>
            <tr>
                <th>Acronym</th>
                <td>{{ degree.acronym }}</td>
            </tr>
            <tr>
                <th>Degree_level</th>
                <td>{{ degree.degreeLevel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('degree_index') }}" class="btn btn-dark m-3">back to list</a>

    <a href="{{ path('degree_edit', {'id': degree.id}) }}" class="btn btn-dark m-3">edit</a>

    {{ include('degree/_delete_form.html.twig') }}
{% endblock %}
