{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}


{% block body %}
<h1>Mon profil</h1>
<table class="table table-responsive">
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ app.user.username }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ app.user.mail }}</td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Lastname</th>
            <td>{{ app.user.lastname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ app.user.firstname }}</td>
        </tr>
        <tr>
            <th>Civilite</th>
            <td>{{ app.user.gender }}</td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td>{{ app.user.phone }}</td>
        </tr>
    </tbody>
    <div>
        <h2>User Search: {{ app.user.company|length }}</h2>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <th>Name of the Company</th>
                <th>Domain</th>
                <th>Nationality</th>                
            </thead>
            <tr>
                {% for company in app.user.company %}
                <td>{{ company.user.firstname }}</td>
                <td>{{ company.domain }}</td>
                <td>{{ company.nationality }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</table>
<a class="btn btn-dark bg-dark m-3" href="{{ path('profil_modifier') }}">Modifier</a>

{% endblock %}