{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Edit Company</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_index') }}" class="btn btn-dark m-3">back to list</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
