{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th> 
                <th>Nationality</th>
                <th>Creation date</th>
                <th>Street</th>
                <th>Zip Code</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.domain }}</td>
                <td>{{ company.nationality }}</td>
                <td>{{ company.creationDate ? company.creationDate|date('Y-m-d') : '' }}</td>
                <td>{{ company.street }}</td>
                <td>{{ company.zipCode }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.country }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_new') }}" class="btn btn-dark m-3">Create new</a>
{% endblock %}
