{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('company_index') }}" class="btn btn-dark m-3">back to list</a>
{% endblock %}
