{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ company.domain }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ company.nationality }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ company.creationDate ? company.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}" class="btn btn-dark m-3">back to list</a>

    <a href='{{ path("company_edit", {"id": company.id}) }}' class="btn btn-dark m-3">edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
