<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {% block stylesheets %}
    {{ encore_entry_link_tags("app") }}
    {% endblock %}
</head>

<body>
    {% include "menu.html.twig" %}
    {% block body %}
    
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags("app") }}
    {% endblock %}
</body>

</html>