<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">CheckDiploDev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <link rel="stylesheet" href="../assets/css/app.scss">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item {{ app.request.pathinfo == path('candidate_index') ? 'active' : '' }}">
          <a class="nav-link" href="{{ path('candidate_index') }}">Candidate</a>
        </li>
        <li class="nav-item {{ app.request.pathinfo == path('company_index') ? 'active' : '' }}">
          <a class="nav-link" href="{{ path('company_index') }}">Company</a>
        </li>
        <li class="nav-item {{ app.request.pathinfo == path('degree_index') ? 'active' : '' }}">
          <a class="nav-link" href="{{ path('degree_index') }}">Degree</a>
        </li>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('profil') }}">Profil</a>
      </li>
      <li class="nav-item {{ app.request.pathinfo == path('app_logout') ? 'active' : '' }}">
        <a class="nav-link  " href="{{ path('app_logout') }}">Deconnexion</a>
      </li>
        {% else %}
      <li class="nav-item {{ app.request.pathinfo == path('app_login') ? 'active' : '' }}">
        <a class="nav-link " href="{{ path('app_login') }}">Connexion</a>
      </li>
      </li>
      <li class="nav-item {{ app.request.pathinfo == path('app_register') ? 'active' : '' }}">
        <a class="nav-link {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'disabled' : '' }}"
          href="{{ path('app_register') }}">Inscription</a>
      </li>
      {% endif %}

      {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
        <p class="mt-2 text-light">Bonjour {{ app.user.username }}</p>
      {% endif %}
    </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>