{% extends 'base.html.twig' %}

{% block title %}Edit Candidate{% endblock %}

{% block body %}
    <h1>Edit Candidate</h1>

    {{ include('candidate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('candidate_index') }} " class="btn btn-dark m-3">back to list</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
