{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Firstname</th>
                <th>Age</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>IC Number</th>
                <th>Street</th>
                <th>Zip Code</th>
                <th>City</th>
                <th>country</th>
                <th>Degree</th>
                <th>actions</th>
            </tr>
        </thead> 
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.firstname }}</td>
                <td>{{ candidate.age }}</td>
                <td>{{ candidate.mail }}</td>
                <td>{{ candidate.phone }}</td>
                <td>{{ candidate.numberIc }}</td>
                <td>{{ candidate.street }}</td>
                <td>{{ candidate.zipCode }}</td>
                <td>{{ candidate.city }}</td>
                <td>{{ candidate.country }}</td>
                <td>{{ candidate.degree }}</td>
                <td>
                    <a href="{{ path('candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidate_new') }}" class="btn btn-dark m-3">Create new</a>

{% endblock %}
