{% extends 'base.html.twig' %}

{% block title %}New Candidate{% endblock %}

{% block body %}
    <h1>Create new Candidate</h1>
    {{ include('candidate/_form.html.twig') }}

    <a href="{{ path('candidate_index') }}" class="btn btn-dark m-3">back to list</a>
{% endblock %}
