{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ candidate.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ candidate.firstname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ candidate.age }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ candidate.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ candidate.phone }}</td>
            </tr>
            <tr>
                <th>Degree</th>
                <td>{{ candidate.degree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidate_index') }}" class="btn btn-dark m-3">back to list</a>

    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}" class="btn btn-dark m-3">edit</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
