{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    {{ form_end(form) }}
    <a href="{{ path('user_index') }}">back to list</a>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
